/* @theme marp-ensg */

@import 'default';

section::after {
    content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

/* header */

header {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 64px;
	width: 100%;
	clear: both;
}

.logo {
	height: 64px;
	padding: 5px;
}

.logo img {
	height: 100%;
}

.logo-left {
	float: left;
}

.logo-right {
	float: right;
}


/* split slides ( https://github.com/orgs/marp-team/discussions/192 ) */
.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

/* headings */

h1 {
    text-align: center;
}

h2 {
    margin-left: 100px;
}

h3 {
    margin-top: 0;
}

footer {
    text-align: center;
    width: 100%;
}

/* text */

section {
    font-size: 22px;
}

/* images */

img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

.illustration img {
    display: block;
    margin: 0 auto;
}

.illustration p {
    font-size: 0.7em;
    text-align: center;
    color: grey;
}


.left {
    float: left;
    width: 50%;
}

.right {
    float: left;
    width: 50%;
}

/* foot notes */
blockquote p {
    font-size: 0.8em;
}

