@media print {
	@page {
		size: landscape
	}

	.remark-slide-scaler {
		width: 100% !important;
		height: 100% !important;
		transform: scale(1) !important;
		top: 0 !important;
		left: 0 !important;
	}
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* background */
.remark-slide-content {
	background: linear-gradient(#E0ECF8, white) !important;
}

/* header and logos */

header {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	clear: both;
}

.logo {
	height: 100px;
	padding: 5px;
}

.logo img {
	height: 100%;
}

.logo-left {
	float: left;
}

.logo-right {
	float: right;
}

/* footer */

.footer {
	bottom: 12px;
	opacity: 0.5;
	position: absolute;
	left: 15%;
}


/* titles */
h1,
h2,
h3 {
	font-weight: 400;
	margin-bottom: 0;
}

.remark-slide-content h1 {
	font-size: 2.5em;
	text-align: center;
}

.remark-slide-content h2 {
	font-size: 1.8em;
}

.remark-slide-content h3 {
	font-size: 1.5em;
}


.main-title,
.title {
	background: #272822;
	color: #777872;
	text-shadow: 0 0 20px #333;
}

.title h1,
.title h2,
.main-title h1,
.main-title h2 {
	color: #f3f3f3;
	line-height: 0.8em;
}


/* columns helpers */

.pull-left {
	float: left;
	width: 47%;
}

.pull-right {
	float: right;
	width: 47%;
}

.pull-right~p {
	clear: both;
}


.bad-left {
	float: left;
	width: 47%;
	color: rgb(255, 77, 0);
}

.good-right {
	float: right;
	width: 47%;
	color: green;
}

.good-right~p {
	clear: both;
}

/* > quoted */

blockquote {
	font-size: 0.8em;
	font-style: italic;
	color: grey;
	clear: both;
}

/* images */

img {
	max-width: 100%;
	max-height: 60%;
}

.footnote {
	position: absolute;
	bottom: 3em;
}

li p {
	line-height: 1.25em;
}

/* highlight code */

a,
a>code {
	color: rgb(249, 38, 114);
	text-decoration: none;
}

code {
	background: none repeat scroll 0 0 #F8F8FF;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	padding: 0 0.2em;
}

.remark-code,
.remark-inline-code {
	font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
}

.remark-code-line-highlighted {
	background-color: #373832;
}

#slideshow .slide .content code {
	font-size: 0.8em;
}

#slideshow .slide .content pre code {
	font-size: 0.9em;
	padding: 15px;
}

