html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*
a {
    white-space: nowrap;
}
*/

.markdown-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tag-list .badge {
	margin: 2px;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }
}
