<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{asset 'style.css'}}">
</head>

<body>
    <textarea id="source">
    {{{markdownContent}}}
    </textarea>

    <script src="{{asset 'gnab-remark/remark-0.15.0.min.js'}}"></script>
    <script src="{{asset 'jquery/jquery-slim-3.7.1.min.js'}}"></script>
    <script>
        var slideshow = remark.create();

        /* footer */
        $('.remark-slide-content').each(function (index, data) {
            if ( index == 0 ){    
                var $header = $('<div class="header">');
                $header.append('<span class="logo logo-left"><a href="https://ensg.eu/fr" target="_blank"><img src="https://mborne.github.io/assets/logo-ensg.svg" alt="ENSG" /></a></span>');
                $header.append('<span class="logo logo-right"><a href="https://www.ign.fr" target="_blank"><img src="https://mborne.github.io/assets/logo-ign-full.png" alt="ENSG" /></a></span>');
                $(data).append($header);
            }

            var footer = '<span class="footer">ENSG - <a href="./#2">Les patrons de conception</a>, Mickaël BORNE, Décembre 2023</span>';
            $(data).append(footer);
        });
    </script>

</body>

</html>